<section>
  <h1 id="exp-heading" class="content-heading animate__animated hidden">
    Experience
  </h1>
  <hr id="exp-fieldset" class="animate__animated hidden" />
  <div class="content pt-2 pb-5">
    <div
      id="content-img-1"
      class="content-img-container animate__animated hidden"
    >
      <img
        class="content-img"
        src="../../assets/experience/infcamp.jpg"
        alt=""
      />
    </div>
    <div id="content-text-1" class="content-text animate__animated hidden">
      <h2>Infinite Campus (2021)</h2>
      <h5>Software Engineering Intern</h5>
      <i>Business Administration Department</i>
      <br />
      <i>Blaine, MN</i>
      <br />

      <p>
        After my first semester as a computer science student at the University
        of Minnesota, I wanted to look for an internship to gain valuable
        experience in the professional software development industry.
      </p>
      <p>
        There are <strong>two</strong> key aspects that I look for in any career
        and it's the opportunity to <i>give back</i> and to make a
        <i>positive</i> difference in the world. Infinite Campus works with
        school districts to transform education by implementing technological
        solutions, just like other sectors have done using technology.
      </p>
      <p>
        I believe that one of the most powerful ways to change the world and to
        make a difference in people's lives is to be involved in education, and
        Infinite Campus provided this opportunity. I work with full-stack
        software engineers using
        <strong>Java, Angular, TypeScript, MS SQL, NodeJS</strong>, and more to
        develop and maintain financial products that serve to help school
        districts across the United States.
      </p>
    </div>
  </div>
  <div class="content py-5">
    <div
      id="content-img-2"
      class="content-img-container animate__animated hidden"
    >
      <img class="content-img" src="../../assets/experience/spc.jpg" alt="" />
    </div>
    <div id="content-text-2" class="content-text animate__animated hidden">
      <h2>Saint Paul College (2020)</h2>
      <h5>STEM Academic Tutor</h5>
      <i>Saint Paul, MN</i>
      <p>
        Like many other college students, I wanted to have some money coming in
        to fulfill my desires of going out to eat, drinking a
        <i class="red">copious</i> amount of bubble tea, and buying clothes and
        tech gadgets, so I chose to do a work-study at my community college.
      </p>
      <p>
        Working as a tutor was an
        <strong>invaluable</strong> experience. I was able to interact with so
        many students from different backgrounds and it taught me a lot about
        how different people learn and approach problems in their own, unique
        way.
      </p>
      <p>
        During my time as a tutor at Saint Paul College, I had assisted over
        <i>250</i>
        students, providing one-on-one tutoring sessions covering a wide range
        of academic topics, such as physics, calculus, writing, and biology.
      </p>
      <p>
        I also had the opportunity of training newly hired tutors on
        documentation routines, interacting with students, and how to layout a
        study session for efficiency and learning.
      </p>
    </div>
  </div>
</section>
