<div class="modal-xl">
  <div class="modal-header">
    <h4 class="modal-title">Contact Me</h4>
    <button
      type="button"
      class="btn btn-outline-danger"
      aria-label="Close"
      (click)="activeModal.dismiss('Cross click')"
    >
      <span aria-hidden="true">&times;</span>
    </button>
  </div>

  <div class="modal-body">
    <div>
      <label for="name" class="form-label">Name</label>
      <input type="text" [(ngModel)]="name" class="form-control" />
    </div>
    <div class="row">
      <div class="col">
        <label for="email" class="form-label pt-3">Email</label>
        <input type="text" [(ngModel)]="email" class="form-control" />
      </div>
      <div class="col">
        <label for="subject" class="form-label pt-3">Subject</label>
        <input type="text" [(ngModel)]="subject" class="form-control" />
      </div>
    </div>
    <div>
      <label for="message" class="form-label pt-3">Message</label>
      <textarea
        name="message"
        id="message"
        rows="3"
        class="form-control"
        [(ngModel)]="message"
      ></textarea>
    </div>
  </div>
  <div class="modal-footer">
    <button
      type="submit"
      class="btn btn-outline-primary"
      (click)="activeModal.close('Close click')"
      (click)="onSubmit()"
    >
      Send
    </button>
  </div>
</div>
