main {
  max-width: 1600px;
  min-height: 100vh;
  scrollbar-width: none;
  overflow: hidden;
}

main::-webkit-scrollbar {
  display: none;
}

/* || CSS Grid Styling */

div.main-grid {
  height: 100vh;
  width: 100vw;
  justify-content: center;
  align-items: center;
  text-align: center;
}

/* || Project Section */
#Project {
  background-color: rgb(250, 250, 250);
  animation-duration: 1.5s;
}

/* || Animation Styling */

.hidden {
  opacity: 0;
}

.animate-delay {
  animation-delay: 50ms;
}

body.modal-open {
  overflow-y: scroll !important;
}

/* || Responsive Media */

@media screen and (max-width: 997px) {
  main {
    margin: 0px 25px;
  }
}
